body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #000;
  color: #f0f0f0;
}
a {
  color: #C1272D;
  text-decoration: none;
}
.sidebar {
  background-color: #1a1a1a;
  color: #fff;
  padding: 1rem;
  width: 240px;
  height: 100vh;
  position: fixed;
}
.content {
  margin-left: 240px;
  padding: 2rem;
}
.zone {
  background-color: #1e1e1e;
  padding: 1rem;
  border: 1px solid #737373;
  border-radius: 8px;
  margin-bottom: 1rem;
}
